<!doctype CSS>

headerImage{
    
 
    align-self: center;
    
}

body{
    
    background-image: url(images/Bkg.png);
    
}

.container-fluid{
    
    align-self: center;
    
}


#banner #topSeparatorDesign #topSeparatorBlock{
    
    width: 100%;
    
}

.inline-block{
    
    display: inline-block;
    align-items: center;
    padding-left: 75px;

    
}

.ourRestaurant{

    float: right;
    padding-right: 200px;

}

.inline-block .logo{
    
    z-index: 1000;
    
}

.customerReviews{
    
    float: left;
    padding-left: 200px;
    
}

.inline-block .reservation{
    
    z-index: 999;
    margin-top: 170px;

}

.inline-block .orderOnline{
    
    z-index: 998;
    margin-top: 170px;
    
}

.parent {
    
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    
  }

.image1 {
      
    position: relative;
    top: 0;
    left: 0;
    z-index: 1001;

  }
.image2 {
      
    position: absolute;
    top: 881px;
    left: 0px;
    z-index: 1000;
   
  }

#topSeparatorDesign{
    
    z-index: 2;

}

.card-img-top{
    
    height: 200px;
    width: 100%;
}

#menuH1{
    
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  text-align: center;
    
}

#download{
    
  font-family: "Philosopher", sans-serif;
  font-weight: 350;
  font-style: normal;
  color: white;
  text-align: center;
  text-decoration: underline;
    
}

.nav-link{
    
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: black;
  text-align: center;
    
}

.footer{
    
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
    
}