<!doctype CSS>

headerImage{
    
 
    align-self: center;
    
}

body{
    
    background-image: url(images/Bkg.png);
    
}

.container-fluid{
    
    align-self: center;
    
}


#banner{
    
    width: 100%;
    
}

.inline-block{
    
    display: inline-block;
    align-items: center;
    padding-left: 75px;

    
}

.ourRestaurant{

    float: right;
    padding-right: 200px;

}

.inline-block .logo{
    
    z-index: 1000;
    
}

.customerReviews{
    
    float: left;
    padding-left: 200px;
    
}

.inline-block .reservation{
    
    z-index: 999;
    margin-top: 170px;

 
}

.inline-block .orderOnline{
    
    z-index: 998;
    margin-top: 170px;
    
}

#topSeparatorDesign{
    
    z-index: 2;

}
