.headerImage{
    
 
    align-self: center;
    
}

body{
    
    background-image: url(images/Bkg.png);
    
}

.container-fluid{
    
    align-self: center;
    
}


#banner #topSeparatorDesign #topSeparatorBlock{
    
    width: 100%;
    
}

.inline-block{
    
    display: inline-block;
    align-items: center;
    padding-left: 75px;

    
}

.ourRestaurant{

    position: relative;
    padding-right: 200px;
    top: 47px;
    left: 950px;
    z-index: 1000;

}

.ourfoodtab{

  position: relative;
  padding-right: 200px;
  top: 47px;
  left: 180px;
  z-index: 1000;

}

.customerReviews{
    
  position: relative;
  padding-right: 200px;
  top: 47px;
  left: 180px;
  z-index: 1000;
    
}

.inline-block .reservation{
    
    z-index: 999;
    margin-top: 170px;

}

/*
.inline-block .orderOnline{
    
    z-index: 998;
    margin-top: 170px;
    
}

.inline-block .logo{
    
    z-index: 1000;
    
}

.inline-block .reservation{
    
    z-index: 999;
    margin-top: 170px;

 
}
*/

/* Banner Parent - All Tabs */
.parent {
    
    position: relative;
    top: 0;
    left: 0;
   
  }

  .orderOnline {
    position: relative;
    top: 80px;
    left: 40px;
    z-index: 1000;

  }

  .logo {
    position: relative;
    top: 35px;
    left: 153px;
    

  }

  .reservation {
    position: relative;
    top: 80px;
    left: 270px;
    z-index: 999;
    
  }

.image1 {
      
    position: relative;
    top: 0;
    left: 0;
    z-index: 996;

  }

.image2 {
      
    position: absolute;
    top: 871px;
    left: 0px;
    mix-blend-mode: luminosity;
    z-index: 998;
   
  }

.aboutusimg{
    display: block;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 100px;
    width: 80%;
    

}

#topSeparatorDesign{
    
    z-index: 2;

}

.card-img-top{
    
    height: 200px;
    width: 100%;
}


#menuH1{
    
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  text-align: center;
    
}

#aboutH1{
    
    font-family: "Philosopher", sans-serif;
    font-weight: 400;
    font-size: xx-large;
    font-style: normal;
    color: white;
    text-align: center;
    overflow-wrap: normal;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: 120px;
    margin-left: 120px;
      
  }

  #aboutH2{
    
    font-family: "Philosopher", sans-serif;
    font-weight: 400;
    font-size: xx-large;
    font-style: normal;
    color: white;
    text-align: center;
    overflow-wrap: normal;
    z-index: 1001;
    position: absolute;
    top: 957px;
    left: 610px;
  }


#download{
    
    font-family: "Philosopher", sans-serif;
    font-weight: 350;
    font-size: xx-large;
    font-style: normal;
    color: white;
    text-align: center;
    overflow-wrap: normal;
    z-index: 1001;
    position: absolute;
    top: 957px;
    left: 610px;
  text-decoration: underline;
    
}

.separatorindex {
  
  mix-blend-mode: luminosity;
 
}

.separatorreviews {
  
  mix-blend-mode: luminosity;
 
}

.nav-link{
    
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: black;
  text-align: center;
    
}

.footer{
    
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
    
}